---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import HeadingGroup from "@components/HeadingGroup.astro";

export async function getStaticPaths() {
    const posts = (await getCollection("blog")).filter((blog) => !blog.data.draft);

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

type Props = {
    post: CollectionEntry<"blog">;
};

const { post } = Astro.props;

const { Content } = await post.render();
---

<Layout title={post.data.title} back="/blog">
    <article>
        <HeadingGroup
            title={post.data.title}
            subtitle={post.data.date.toLocaleDateString("en-UK", {
                month: "long",
                day: "numeric",
                year: "numeric",
            })}
        />
        <hr class="my-5 border-amber-100/10" />
        <div class="prose prose-amber prose-invert">
            <Content />
        </div>
    </article>
</Layout>
