@import "@radix-ui/colors/amber.css" (prefers-color-scheme: light);
@import "@radix-ui/colors/amber-dark.css" (prefers-color-scheme: dark);


@media (prefers-color-scheme: light) {
    :root {
        --brand-text: #212427;
        --brand-muted: color-mix(in srgb, var(--brand-text) 75%, transparent);
        /* Amber-ish, fully saturated, almost completely dark */
        --brand-background: var(--amber-1);
        --brand-border: color-mix(in srgb, var(--brand-text) 50%, transparent);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand-text: var(--amber-12);
        --brand-muted: color-mix(in srgb, var(--brand-text) 65%, transparent);
        /* Amber-ish, fully saturated, almost completely dark */
        --brand-background: #0c0a09;
        --brand-border: color-mix(in srgb, var(--brand-text) 50%, transparent);
    }
}
