@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/sand.css";
@import "@radix-ui/colors/sand-dark.css";

:root.light {
    color-scheme: light;

    --brand-text: var(--sand-12);
    --brand-muted: var(--sand-11);
    /* Amber-ish, fully saturated, almost completely dark */
    --brand-background: var(--amber-1);
    --brand-border: var(--sand-7);
    --brand-hr: var(--sand-6);
}

:root.dark {
    color-scheme: dark;

    --brand-text: var(--amber-12);
    --brand-muted: color-mix(in oklab, var(--brand-text) 65%, var(--brand-background));
    --brand-background: var(--sand-1);
    --brand-border: color-mix(in oklab, var(--brand-text) 50%, var(--brand-background));
    --brand-hr: color-mix(in oklab, var(--brand-text) 25%, var(--brand-background));
}
