---
import Layout from "@layouts/Layout.astro";
import { createLocale } from "@lib/i18n";

const { pathname } = Astro.url;

const { str, locale } = createLocale(Astro.url);
---

<Layout title={"404" + " - " + str("Page not found", "Pagina niet gevonden")} lang={locale}>
    <hgroup>
        <h1 class="-ml-[0.3vh] font-display text-4xl font-extrabold md:text-5xl lg:text-6xl">
            404
        </h1>
        <p class="text-brand-muted">
            {
                str(
                    <>
                        Page <code class="rounded bg-black px-1 text-white">{pathname}</code> not
                        found
                    </>,
                    <>
                        Pagina <code class="rounded bg-black px-1 text-white">{pathname}</code> niet
                        gevonden
                    </>
                )
            }
        </p>
    </hgroup>
</Layout>
