---
import Layout from "@layouts/Layout.astro";
import HeadingGroup from "@components/HeadingGroup.astro";
import { getCollection } from "astro:content";

const blogEntries = (await getCollection("blog")).filter((blog) => !blog.data.draft);
---

<Layout title="Nils Beerten">
    <HeadingGroup title="Blog" subtitle="A list of blog posts posted by me" />
    <hr class="my-5 border-amber-100/10" />
    <div class="flex flex-col gap-4 py-3">
        {
            blogEntries.map((blogPost) => (
                <article class="flex justify-between">
                    <div>
                        <a
                            href={`/blog/${blogPost.slug}`}
                            class="text-lg font-bold underline decoration-brand-border underline-offset-2">
                            {blogPost.data.title}
                        </a>
                        <p class="[text-wrap:pretty]">{blogPost.data.description}</p>
                    </div>
                    <time>{blogPost.data.date.toLocaleDateString("en")}</time>
                </article>
            ))
        }
    </div>
</Layout>
