<html lang="en" class="bg-transparent">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body class="mx-auto w-full bg-transparent px-5 py-10 lg:px-20">
        <h1 class="text-3xl">Brand</h1>
        <details class="py-4">
            <summary>Squared logo</summary>
            <div
                class="grid h-[500px] w-[500px] place-content-center overflow-hidden rounded-[5rem] bg-stone-950"
                id="logo1">
                <h1
                    class="-ml-[10px] font-display text-[300px] font-black tracking-tighter text-amber-100">
                    nb
                </h1>
            </div>
        </details>

        <hr />

        <details class="py-4">
            <summary>Rectangular/Circled logo</summary>
            <div
                class="grid h-[500px] w-[500px] place-content-center overflow-hidden bg-stone-950"
                id="logo2">
                <h1
                    class="-ml-[12px] mb-[30px] font-display text-[250px] font-black tracking-tighter text-amber-100">
                    nb
                </h1>
            </div>
        </details>

        <hr />

        <details class="py-4" open>
            <summary>Banner</summary>
            <div
                class="flex h-[500px] w-[1500px] flex-col items-center justify-center overflow-hidden bg-stone-950 px-40"
                id="banner1">
                <h1 class="font-display text-8xl font-extrabold text-amber-100">Nils Beerten</h1>
            </div>
        </details>
    </body>
</html>

<style>
    /* Satoshi */
    @font-face {
        font-family: "Satoshi";
        src:
            url(//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff2)
                format("woff2"),
            url(//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.ttf)
                format("truetype");
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
    }
</style>
