---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Nils Beerten">
    <hgroup>
        <h1 class="-ml-[0.075em] font-display text-5xl font-extrabold lg:text-6xl">Nils Beerten</h1>
        <p class="text-amber-100/60">
            <span aria-hidden="true" aria-label="IPA pronunciation">/niːls bɪːrtən/</span> - <abbr
                title="also known as"
                class="underline-offset-2">a.k.a.</abbr
            > nbeerten, nbert
        </p>
    </hgroup>
    <div>
        {
            /*<p class="max-w-[60ch] [text-wrap:pretty] pt-2">
            <!-- Future description -->
        </p>*/
        }
        <div
            class="mt-2 flex flex-col gap-2 [&>*>svg]:x-[w-5,h-5] [&>*]:x-[flex,gap-2,items-center,w-max] [&>a]:underline">
            <a href="mailto:Y29udGFjdA==@nilsbeerten.nl">
                <Icon name="lucide:mail" />
                <p class="mb-px" id="mail"></p>
            </a>
            <a href="https://github.com/nbeerten">
                <Icon name="simple-icons:github" />
                <p class="mb-px">nbeerten</p>
            </a>
            <a href="https://twitter.com/nbertn">
                <Icon name="simple-icons:x" />
                <p class="mb-px">nbertn</p>
            </a>
            <div>
                <Icon name="simple-icons:discord" />
                <p class="mb-px">@nbeerten</p>
            </div>
        </div>
    </div>
    <hr class="my-5 border-amber-100/25" />
    <section>
        <h2 class="-ml-px text-xl text-amber-100/75">Personal projects</h2>
        <div class="grid grid-cols-1 gap-4 py-4 md:grid-cols-2">
            <div>
                <a
                    href="https://github.com/nbeerten/nilsbeerten.nl/"
                    class="text-lg font-bold underline">
                    nilsbeerten.nl
                </a>
                <p class="[text-wrap:pretty]">Simple and minimal personal site built with Astro.</p>
            </div>

            <div>
                <a
                    href="https://github.com/nbeerten/nilsbeerten.nl/"
                    class="text-lg font-bold underline">
                    tm-refresh-leaderboard
                </a>
                <p class="[text-wrap:pretty]">
                    Trackmania plugin to refresh the in-game leaderboards.
                </p>
            </div>
        </div>
    </section>
</Layout>

<script is:inline>
    // @ts-check
    /**
     * @param {Document} document
     */
    const mail = (document) =>
        document.documentElement.querySelectorAll("#mail").forEach((el) => {
            const mail = "Y29udGFjdA==@nilsbeerten.nl"
                .split("@")
                .map((part) => (part.endsWith("==") ? window.atob(part) : part))
                .join("@");
            el.textContent = mail;
            /* @ts-ignore */
            el.parentNode.setAttribute("href", `mailto:${mail}`);
        });

    mail(window.document);

    // Fix view transitions
    document.addEventListener("astro:before-swap", (e) => {
        // @ts-ignore
        mail(e.newDocument);
    });
</script>
