<html lang="en" class="bg-transparent">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body class="grid w-full grid-flow-row place-content-center gap-32 bg-transparent">
        <div
            class="grid h-[500px] w-[500px] place-content-center overflow-hidden rounded-[5rem] bg-stone-950"
            id="logo1">
            <h1
                class="-ml-[10px] font-display text-[300px] font-black tracking-tighter text-amber-100">
                nb
            </h1>
        </div>

        <div
            class="grid h-[500px] w-[500px] place-content-center overflow-hidden bg-stone-950"
            id="logo2">
            <h1
                class="-ml-[12px] mb-[30px] font-display text-[250px] font-black tracking-tighter text-amber-100">
                nb
            </h1>
        </div>
    </body>
</html>

<style>
    /* Satoshi */
    @font-face {
        font-family: "Satoshi";
        src:
            url(/fonts/Satoshi-Variable.woff2) format("woff2") tech(variations),
            url(/fonts/Satoshi-Variable.ttf) format("truetype") tech(variations);
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
    }
</style>
