<html lang="en" class="bg-transparent">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body class="grid grid-cols-2 place-items-center gap-16 w-full h-[90svh] bg-transparent">
        <div
            class="grid place-content-center w-[500px] h-[500px] bg-stone-950 rounded-[2rem] border-amber-200/50 border-[1rem]"
            id="logo1">
            <h1 class="text-[400px] font-display font-black text-amber-200 mb-[12px]">N</h1>
        </div>

        <div
            class="grid place-content-center w-[500px] h-[500px] bg-stone-950 rounded-full border-amber-200/50 border-[1rem]"
            id="logo2">
            <h1 class="text-[350px] font-display font-black text-amber-200 mb-[12px]">N</h1>
        </div>
    </body>
</html>

<style>
    /* Satoshi */
    @font-face {
        font-family: "Satoshi";
        src:
            url(/fonts/Satoshi-Variable.woff2) format("woff2") tech(variations),
            url(/fonts/Satoshi-Variable.ttf) format("truetype") tech(variations);
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
    }
</style>
