---
import { twMerge } from "tailwind-merge";

interface Props {
    title: string;
    subtitle?: string;
}

const { title, subtitle = false } = Astro.props;
---

<hgroup>
    <h1
        class={twMerge(
            "-ml-[0.075em] font-display text-5xl font-extrabold lg:text-6xl min-h-12 [text-wrap:balance]"
        )}>
        {title}
    </h1>
    {
        subtitle ? (
            <p class="mt-2 text-brand-muted">{subtitle}</p>
        ) : (
            <p class="mt-2 text-brand-muted">
                <slot name="subtitle" />
            </p>
        )
    }
</hgroup>
