---
import { twMerge } from "tailwind-merge";

interface Props {
    title: string;
    subtitle?: string;
    smallMargin?: boolean;
}

const { title, subtitle = false, smallMargin = false } = Astro.props;
---

<hgroup>
    <h1
        class={twMerge(
            "font-display text-5xl font-extrabold lg:text-6xl min-h-12 [text-wrap:balance]",
            /^B|D|E|F|H|I|K|L|M|N|P|R|U/.test(title) && "-ml-[0.075em]",
            /^C|G|O|Q/.test(title) && "-ml-[0.05em]"
        )}>
        {title}
    </h1>
    {
        subtitle ? (
            <p class={twMerge("mt-2 text-brand-muted", smallMargin && "mt-0")}>{subtitle}</p>
        ) : (
            <p class={twMerge("mt-2 text-brand-muted", smallMargin && "mt-0")}>
                <slot name="subtitle" />
            </p>
        )
    }
</hgroup>
