---
import { createNavigation } from "./Navigation";
import { createLocale } from "@lib/i18n";
import Languages from "~icons/heroicons/language-16-solid";
import ThemeToggle from "./ThemeToggle.astro";

interface Props {
    class?: string;
    back?: string;
}
const { class: className, back = "/" } = Astro.props;

const { getLocaleUrl, str, normalizedUrl, locale } = createLocale(Astro.url);

const localizedBack = getLocaleUrl(back);

const pathname = new URL(normalizedUrl, Astro.url).pathname;
const c = (path: string, className: string) => (pathname === path ? className : "");

const navigation = createNavigation(
    [
        {
            label: str("Home", "Home"),
            path: getLocaleUrl("/"),
        },
        {
            label: str("Blog", "Blog"),
            path: getLocaleUrl("/blog"),
        },
    ],
    Astro.url
);
---

<nav class={`${className}`}>
    <div
        class="flex flex-col items-start justify-between gap-x-10 gap-y-3 text-brand-border md:flex-row md:items-center">
        <div>
            <a
                href={localizedBack}
                class:list={[
                    "flex items-center gap-2 border-brand-border text-sm md:border-b",
                    [c(back, "invisible")],
                ]}
                aria-hidden={pathname === back}
                aria-label={str("back", "terug")}>
                ← <span>{str("back", "terug")}</span>
            </a>
        </div>
        <ul class="flex w-full gap-10 md:w-auto">
            {
                navigation.map(({ label, path, active }) => (
                    <li>
                        <a
                            href={path}
                            class:list={["flex items-center gap-2", active && "text-brand-muted"]}>
                            {label}
                        </a>
                    </li>
                ))
            }
            <li class="flex flex-grow items-center justify-end gap-2 text-sm md:justify-normal">
                <Languages class="h-4 w-4" />
                <a
                    href={getLocaleUrl(Astro.url, locale === "en" ? "nl" : "en")}
                    class="flex items-center gap-1">
                    <span class:list={[locale === "en" && "text-brand-muted"]}>en</span>
                    <span class="text-brand-border/50">/</span>
                    <span class:list={[locale === "nl" && "text-brand-muted"]}>nl</span>
                </a>
            </li>
            <li>
                <ThemeToggle />
            </li>
        </ul>
    </div>
</nav>
