---
import ArrowLeft from "~icons/lucide/arrow-left";

interface Props {
    class?: string;
}
const { class: className } = Astro.props;

const pathname = Astro.url.pathname;
const c = (path: string, className: string) => (pathname === path ? className : "");
---

<nav class={`${className}`}>
    <ul class="flex gap-10 text-brand-border">
        <li>
            <a
                href="/"
                class:list={[
                    "flex items-center gap-2 border-b border-brand-border",
                    c("/", "invisible"),
                ]}>
                <ArrowLeft class="-mb-px -ml-[2px] h-4 w-4" /> back
            </a>
        </li>
    </ul>
</nav>
