@import "satoshi.css";
@import "excon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: theme(colors.white);
        --foreground: theme(colors.black);

        --muted: hsl(210 40% 96.1%);
        --muted-foreground: theme(colors.stone.600);

        --popover: hsl(hsl(0 0% 100%));
        --popover-foreground: hsl(222.2 47.4% 11.2%);

        --card: theme(colors.white);
        --card-foreground: theme(colors.black);

        --border: theme(colors.stone.300);
        --input: hsl(214.3 31.8% 91.4%);

        --primary: theme(colors.stone.900);
        --primary-foreground: theme(colors.stone.100);

        --secondary: theme(colors.stone.100);
        --secondary-foreground: theme(colors.stone.900);

        --accent: theme(colors.stone.100);
        --accent-foreground: hsl(222.2 47.4% 11.2%);

        --destructive: hsl(0 92% 38%);
        --destructive-foreground: hsl(210 40% 98%);

        --ring: theme(colors.stone.900);

        --radius: 0.25rem;
    }

    .dark {
        --background: theme(colors.stone.950);
        --foreground: theme(colors.stone.50);

        --muted: hsl(223 47% 11%);
        --muted-foreground: theme(colors.stone.400);

        --popover: hsl(224 71% 4%);
        --popover-foreground: hsl(215 20.2% 65.1%);

        --card: theme(colors.stone.950);
        --card-foreground: theme(colors.stone.50);

        --border: theme(colors.stone.700);
        --input: theme(colors.stone.700);

        --primary: theme(colors.stone.50);
        --primary-foreground: theme(colors.stone.900);

        --secondary: theme(colors.stone.900);
        --secondary-foreground: theme(colors.stone.50);

        --accent: theme(colors.stone.900);
        --accent-foreground: theme(colors.stone.100);

        --destructive: hsl(359 51% 48%);
        --destructive-foreground: hsl(210 40% 98%);

        --ring: theme(colors.white);

        --radius: 0.25rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}
